<!DOCTYPE html>
<html lang="uz">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Yangi taom qo'shish</title>
    <link rel="stylesheet" href="{% static 'fastfood_app/style.css' %}">
</head>
<body>
    <header>
        <h1>Yangi Taom Qo'shish</h1>
        <nav>
            <ul>
                <li><a href="{% url 'home' %}">Bosh sahifa</a></li>
            </ul>
        </nav>
    </header>

    <main>
        <section>
            <h2>Yangi taom uchun ma'lumotlar</h2>
            <form method="POST">
                {% csrf_token %}
                {{ form.as_p }}
                <button type="submit">Saqlash</button>
            </form>
        </section>
    </main>

    <footer>
        <p>&copy; 2024 FastFood Do'koni. Barcha huquqlar himoyalangan.</p>
    </footer>
</body>
</html>
